
*.graph
Obstacle Dodge Game/Library/*
Obstacle Dodge Game/Temp/

Obstacle Dodge Game/Logs/AssetImportWorker0.log
Obstacle Dodge Game/Logs/AssetImportWorker1.log
Obstacle Dodge Game/Logs/AssetImportWorker2.log
Obstacle Dodge Game/Logs/AssetImportWorker3.log
Obstacle Dodge Game/Logs/AssetImportWorker4.log
Obstacle Dodge Game/Logs/AssetImportWorker5.log
Obstacle Dodge Game/Logs/shadercompiler-AssetImportWorker0-0.log
Obstacle Dodge Game/Logs/shadercompiler-AssetImportWorker1-0.log
Obstacle Dodge Game/Logs/shadercompiler-AssetImportWorker2-0.log
Obstacle Dodge Game/Logs/shadercompiler-AssetImportWorker3-0.log
Obstacle Dodge Game/Logs/shadercompiler-AssetImportWorker4-0.log
Obstacle Dodge Game/Logs/shadercompiler-AssetImportWorker5-0.log
Obstacle Dodge Game/Logs/shadercompiler-UnityShaderCompiler.exe-0.log
Obstacle Dodge Game/Logs/shadercompiler-UnityShaderCompiler.exe-1.log
Obstacle Dodge Game/Logs/shadercompiler-UnityShaderCompiler.exe-2.log
Obstacle Dodge Game/Assets/Scripts/ObjectHit.cs.meta
Obstacle Dodge Game/Logs/AssetImportWorker0.log
Obstacle Dodge Game/Logs/AssetImportWorker1.log
